<%= render "shared/second_header" %>
<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      新規登録
    </h1>
  </div>

  <div class="form-group">
    <%= f.text_field :nickname, class:"input-default", id:"nickname", placeholder:"ニックネーム", maxlength:"40" %>
    <% if @user.errors.include?(:nickname) %>
      <p style="color: red;"><%= @user.errors.full_messages_for(:nickname).first %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"メールアドレス", autofocus: true %>
    <% if @user.errors.include?(:email) %>
      <p style="color: red;"><%= @user.errors.full_messages_for(:email).first %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"パスワード" %>
    <p class='info-text'>※ 英数字を組み合わせた8~20文字を入力してください</p>
    <% if @user.errors.include?(:password) %>
      <p style="color: red;"><%= @user.errors.full_messages_for(:password).first %>
    <% end %>
    <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"パスワード(確認)" %>
    <% if @user.errors.include?(:password_confirmation) %>
      <p style="color: red;"><%= @user.errors.full_messages_for(:password_confirmation).first %>
    <% end %>
  </div>
  <div class="form-group">
    <div class='input-birth-wrap'>
      <%= raw sprintf(
                  f.date_select(
                    :birthday,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 1930,
                    end_year: (Time.now.year - 5),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>
    <% if @user.errors.include?(:birthday) %>
      <p style="color: red; margin 0; padding: 0;"><%= @user.errors.full_messages_for(:birthday).first %>
    <% end %>
    <p class='info-text'>※ 生年月日</p>
  </div>
  <div class="form-group">
    <h2 class='form-bottom-text'>
      「会員登録」のボタンを押すことにより、
      <span>利用規約</span>
      <br>に同意したものとみなします
    </h2>
  </div>
  <div class='register-btn'>
    <%= f.submit "会員登録" ,class:"register-bk-btn" %>
  </div>
  <p class='register-info'>本人情報の登録について</p>
</div>
<% end %>