<div>
  <% if user_signed_in? %>
    <%= link_to image_tag('upload_icon_2.png', class: "devise_icon in-pc in-tb", id: "upload_icon"), new_post_path %>
    <%= link_to image_tag('upload_sp_icon_2.png', class: "devise_sp_icon in-sp", id: "upload_icon"), new_post_path %>
  <% end %>
</div>
<div class='nav'>
  <ul class='lists-right'>
    <%# ログインの有無で表示切り替え%>
    <% if user_signed_in? %>
      <li id="user_nickname_box">
        <%= link_to current_user.nickname, "#", class: "user-nickname cursor-default pc tb", style: "color: #898989; text-decoration: none;", id: "user-nickname" %>
      </li>
      <%= link_to image_tag('logout_icon.png', class: "devise_icon pc tb", id: "logout_icon"), destroy_user_session_path, method: :delete, class: "logout" %></li>
      <%= link_to image_tag('logout_sp_icon.png', class: "devise_sp_icon sp", id: "logout_icon"), destroy_user_session_path, method: :delete, class: "logout" %></li>
    <% else %>
      <li><%= link_to image_tag('login_icon.png', class: "devise_icon in-pc in-tb", id: "login_icon"), user_session_path, class: "login" %></li>
      <li><%= link_to image_tag('signup_icon.png', class: "devise_icon pc tb", id: "signup_icon"), new_user_registration_path, class: "sign-up" %></li>
      <li><%= link_to image_tag('login_sp_icon.png', class: "devise_sp_icon in-sp", id: "login_icon"), user_session_path, class: "login" %></li>
      <li><%= link_to image_tag('signup_sp_icon.png', class: "devise_sp_icon sp", id: "signup_icon"), new_user_registration_path, class: "sign-up" %></li>
    <%# //ログインの有無で表示切り替え%>
    <% end %>
  </ul>
</div>