<header class='top-page-header'>
  <%= link_to image_tag("inote_logo.png", class:"inote-icon"), "/" %>
  <div class='search-bar-contents'>
    <%= form_with url: '#', local: true, method: :get, class: "search-form" do |form| %>
      <%= form.text_field :keyword, placeholder: "検索する", class: "input-box" %>
      <button class="search-button">
        <%= image_tag "search_icon.png", class:"search-icon" %>
      </button>
    <% end %>
  </div>
  <div>
    <% if user_signed_in? %>
      <%= link_to image_tag('upload_icon_2.png', class: "devise_icon"), new_post_path %>
    <% end %>
  </div>
  <div class='nav'>
    <ul class='lists-right'>
      <%# ログインの有無で表示切り替え%>
      <% if user_signed_in? %>
        <li id="user_nickname_box"><%= link_to current_user.nickname, "#", class: "user-nickname", id: "user-nickname" %></li>
        <li><%= link_to image_tag('logout_icon.png', class: "devise_icon"), destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to image_tag('login_icon.png', class: "devise_icon"), user_session_path, class: "login" %></li>
        <li><%= link_to image_tag('signup_icon.png', class: "devise_icon"), new_user_registration_path, class: "sign-up" %></li>
      <%# //ログインの有無で表示切り替え%>
      <% end %>
    </ul>
  </div>
</header>