<header class='top-page-header'>
  <%= link_to image_tag("inote_logo.png", class: "inote-icon pc"), "/" %>
  <%= link_to image_tag("inote_sp_logo.png", class: "inote-icon tb sp"), "/" %>
  <%# スマホ %>
  <div class="left-sp-info">
    <%= image_tag("arrow_bk.png" , class: "arrow-bk-nonlog-icon") %>
    <div class="left-sp-nonlog-info-box">
      <%= link_to "みんなの投稿", everyone_posts_path, class: "everyone-sp-link", style: "color: white; text-decoration: none; background-color: #3e3a39;" %>
    </div>
  </div>
  <%# //スマホ %>
  <%= link_to "みんなの投稿", everyone_posts_path, class: "everyone-post-link  pc tb", style: "color: white; text-decoration: none; background-color: #3e3a39;" %>
  <div class='search-bar-nonlogin-contents'>
    <%= form_with url: search_posts_path, local: true, method: :get, class: "search-form" do |form| %>
      <%= form.text_field :keyword, placeholder: "検索する", class: "input-box" %>
      <button class="search-button">
        <%= image_tag "search_icon.png", class:"search-icon" %>
      </button>
    <% end %>
  </div>
  <%= render "shared_child/header_icon" %>
</header>