<header class='top-page-header'>
  <%= link_to image_tag("inote-logo@2x.png", class: "inote-icon"), "/" %>
  <%= link_to image_tag("inote-sp-logo@2x.png", class: "inote-sp-icon"), "/" %>
  <div class ="post-link-box">
    <%= link_to "自分の投稿", "/", class: "my-post-link", style: "color: white; text-decoration: none; background-color: #3E3A39;" %>
    <%= link_to "みんなの投稿", everyone_posts_path, class: "everyone-post-link everyone-post-link-login", style: "color: #3E3A39; text-decoration: none;" %>
    <%= link_to "お気に入り", favorite_posts_path, class: "favorite-post-link", style: "color: #3E3A39; text-decoration: none;" %>
  </div>
  <div class='search-bar-contents'>
    <%= form_with url: search_my_posts_path, local: true, method: :get, class: "search-form" do |form| %>
      <%= render "shared_child/search_form", form: form, keyword: keyword %>
    <% end %>
  </div>
  <%= render "shared_child/header_icon" %>
</header>

<header class='sp-top-page-header'>
  <div class='sp_search-bar-contents'>
    <%= form_with url: search_my_posts_path, local: true, method: :get, class: "search-form" do |form| %>
      <%= render "shared_child/search_form", form: form, keyword: keyword %>
    <% end %>
  </div>
  <%= render "shared_child/header_sp_icon" %>
</header>