<% posts.each do |post| %>
  <li class='list'>
    <div class='post-img-content'>
      <%# data-lightbox %>
      <%#= link_to post.image, "data-lightbox": post.image do %>
      <%= link_to post.image, rel: "lightbox[.show-index-img]", class: "lightbox-show" do %>
        <div>
          <%= image_tag post.image, class: "show-index-img" %>
        </div>
      <% end %>
      <div class="index-memo">
        <%= post.memo %>
      </div>
      <div class="index-arrow">
        <ul class="more_list">
          <% if user_signed_in? && current_user.id == post.user_id %>
            <li>
              <%= link_to image_tag("edit-icon.png",class: "edit-icon"), edit_post_path(post.id), method: :get %>
            </li>
            <li>
              <%= link_to image_tag("delete-icon.png",class: "delete-icon"), post_path(post.id), method: :delete %>
            </li>
            <li class="hert-icon-box" data-hert-id=<%= post.id %> data-hert-check=<%= post.hert %>>
              <% if post.hert == true %>
                <%= image_tag("hert-on-icon.png",class: "hert-icon hert-on-icon", id: "hert-on-icon") %>
                <%= image_tag("hert-off-icon.png",class: "hert-icon hert-off-icon", id: "hert-off-icon") %>
              <% elsif post.hert == false %>
                <%= image_tag("hert-off-icon.png",class: "hert-icon hert-off-icon", id: "hert-off-icon") %>
                <%= image_tag("hert-on-icon.png",class: "hert-icon hert-on-icon", id: "hert-on-icon") %>
              <% end %>
            </li>
            <li class="grobal-icon-box" data-grobal-id=<%= post.id %> data-grobal-check=<%= post.grobal %>>
              <% if post.grobal == true %>
                <%= image_tag("grobal-blue-on-icon.png",class: "grobal-icon grobal-on-icon", id: "grobal-on-icon") %>
                <%= image_tag("grobal-off-icon.png",class: "grobal-icon grobal-off-icon", id: "grobal-off-icon") %>
              <% elsif post.grobal == false %>
                <%= image_tag("grobal-off-icon.png",class: "grobal-icon grobal-off-icon", id: "grobal-off-icon") %>
                <%= image_tag("grobal-blue-on-icon.png",class: "grobal-icon grobal-on-icon", id: "grobal-on-icon") %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <%# //data-lightbox %>
    </div>
  </li>
  </li>
<% end %>

<div class="sign_modal_wrapper"></div>