<div class="post-show-hidden"></div>
<%= render "shared/header_favorite", keyword: "" %>
<div class="show-main fade-in-display">
  <div class="post-show">
    <div class="show-box">
      <%= image_tag @post.image ,class:"show-img " %>
      <div class="show-memo"><%= @post.memo %></div>
      <%= render "shared/show_icon_box", post: @post %>
    </div>
  </div>
  <% if @post_next.present? %>
    <%= link_to image_tag("arrow-left-box@2x.png", size:"100x100",class:"arrow-left-box"), show_favorite_post_path(@post_next.id) %>
  <% end %>
  <% if @post_previous.present? %>
    <%= link_to image_tag("arrow-right-box@2x.png", size:"100x100",class:"arrow-right-box"), show_favorite_post_path(@post_previous.id) %>
  <% end %>
</div>